.sidebar {
    position: fixed;
    top: 60px; /* Below the navbar */
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 999;
    transform: translateX(0);
    transition: transform 0.3s ease;
    padding-top: 50px;
  }
  
  .sidebar.closed {
    transform: translateX(-100%);
  }